# Ignore all files in the "abaqus" folder
abaqus/*
*.mat
slurm*
*.sh

# Except for these specific files
!abaqus/NODEMM.f
!abaqus/equi_strain.cae
!abaqus/equi_strain.inp
!abaqus/square.cae
!abaqus/square.inp
purde_prob_highres_post.npy
params_purdue_pre_highres.npy
